.embla {
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    transition: transform 1s linear;
  }
  
  .embla_slide {
    flex: 0 0 auto;
    width: 150px; /* Ajuste o tamanho das imagens para mobile */
    margin-right: 10px; /* Espaçamento entre as imagens */
    cursor: none;
  }
  
  .embla_image {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Bordas arredondadas opcionais */
  }
  