* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0E424D;
  --background-color: #ffffff;
  --alternative-color: #04424f;
  --alternative-color2: #077288;
  --alternative-color3: #055261;
}

body {
  background-color: var(--main-color);
  font-family: Poppins, Playwrite In, sans-serif;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/images/Banner.png"); */
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

a, ul, li {
  text-decoration: none;
}